$bg-color-main: rgb(16, 35, 49);

$bg-color-light: rgba(23, 45, 62, 1);

$bg-color-blue: rgba(125, 188, 255, 0.6);

$bg-color-green: rgb(1, 167, 129);

$bg-color-red: rgb(228, 75, 68);

$gradient-colors: linear-gradient(to right top, rgb(28, 56, 77), rgb(1, 167, 129));

$gradient-reverse: linear-gradient(to right top, rgb(1, 167, 129), rgb(28, 56, 77));

$gradient-colors-body: linear-gradient(to top, rgb(00,00,00), rgba(23, 45, 62, 1));
