@use "./colors" as *;

@mixin gradient {
  background-image: $gradient-colors;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

// width

$bigWidth: 990px;

@mixin bigWidth {
  @media (max-width: $bigWidth) {
    @content;
  }
}
