@use "./typo" as *;
@use "./elements" as *;
@use "./colors" as *;


* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  transition: all 0.2s;
  font-family: "Roboto", sans-serif;
  color: #fff;
  background-color: #000000;
}

body {
  width: 100%;
  height: 100%;
  position: relative;
}

.wrapper {
  width: 100%;
  max-width: 70rem;
  padding: 2rem 0rem;
  margin: 0 2rem;
}



a, path {
  text-decoration: none;
  cursor: pointer;
  transition: color 0.4s ease-in-out;
  &:hover {
    color: $bg-color-green;
    path {
       color: $bg-color-green;
    }
  }
}
