@use "/Users/nikitawr/Dev/onigiri_crypto/src/Styles/global" as *;

#body-page {
  width: 100%;
}

//! Welcome page

#welcome-screen {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.welcome-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  font-size: 3.5rem;

  h2:nth-child(2) {
    @include gradient;
  }
}

.welcome-crypto {
  display: flex;
  gap: 7rem;
  justify-content: center;
  margin-top: 3rem;

  a {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
  }

  img {
    width: 5rem;
  }
}

// ! Choose us screen
#choose-us-screen {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.choose-us-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
}

.choose-us-body {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.choose-us-reasons {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.choose-reason {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  box-shadow: 15 10 2;
  background-color: $bg-color;
}

.choose-reason-svg {
  display: flex;
  padding: 0.5rem;
}

.choose-us-img {
  img {
    width: 25rem;
  }
}

.choose-reason-text {
  background: transparent;
  h2 {
    margin-bottom: 1rem;
    background: transparent;
  }

  p {
    font-size: 1.2rem;
    background: transparent;
  }
}

//! Join us screen

#join-us-screen {
  display: flex;
  width: 100%;
  justify-content: center;
}

.join-us-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  h2 {
    font-size: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    b {
      @include gradient;
    }
  }

  button {
    margin-top: 2rem;
    padding: 1rem;
    border-radius: 20rem;
  }
}
