@use "/Users/nikitawr/Dev/onigiri_crypto/src/Styles/global" as *;

#body-page {
  width: 100%;
}

//! Welcome page

#welcome-screen {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.welcome-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  font-size: 3.5rem;

  h2:nth-child(2) {
    @include gradient;
  }
}

.welcome-crypto {
  display: flex;
  gap: 7rem;
  justify-content: center;
  margin-top: 3rem;

  a {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
  }

  img {
    width: 5rem;
  }
}


// ! CoinList

#coin-list-page {
  width: 100%;
  display: flex;
  justify-content: center;
}
.coin-list-wrapper {
  h1 {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
  }
}

.coin-list-table-banner {
  display: grid;
  grid-template-columns: 14fr 20fr 20fr 20fr;
  background: $gradient-colors;
  padding: 1rem 1rem;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
  text-align: right;

  h3 {
    background: transparent;
  }

  h3:nth-child(1) {
    text-align: left;
  }
}

.coin-info {
  padding: 1rem 1rem;
  display: grid;
  grid-template-columns: 14fr 20fr 20fr 20fr;
  text-align: right;
  align-items: center;
  border-bottom: 1px solid #fff;
  

  .coin-info-img {
    display: flex;
    align-items: center;
    gap: 1rem;

    img {
      width: 3rem;
    }
  }


}

// ! Choose us screen
#choose-us-screen {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.choose-us-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;

  h1 {
    font-size: 3rem;
    b {
     @include gradient;
    }
  }
}


.choose-us-body {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  align-items: center;
}

.choose-us-reasons {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.choose-reason {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  box-shadow: 15 10 2;
  background-color: $bg-color-main;
  border: 1px solid $bg-color-light;
  border-radius: 2rem;
}

.choose-reason-svg {
  display: flex;
  padding: 1rem;
  border-radius: 1rem;
  background: $gradient-colors;

  svg {
    background: transparent
  }
}

.choose-us-img {
  img {
    width: 20rem;
  }
}

.choose-reason-text {
  background: transparent;
  height: 9rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  h2 {
    margin-bottom: 1rem;
    background: transparent;
    font-size: 1.4rem;
  }

  p {
    font-size: 1.2rem;
    background: transparent;
  }
}

//! Join us screen

#join-us-screen {
  display: flex;
  width: 100%;
  justify-content: center;
}

.join-us-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  h2 {
    font-size: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    b {
      @include gradient;
    }
  }

  button {
    margin-top: 2rem;
    padding: 1rem;
    border-radius: 20rem;
  }
}
