@use "/Users/nikitawr/Dev/onigiri_crypto/src/Styles/global" as *;

#body-page {
  width: 100%;
}

//! Welcome page

#welcome-screen {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.welcome-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  font-size: 3.5rem;

  h2:nth-child(2) {
    @include gradient;
  }

  @include bigWidth {
    text-align: center;
  }

  @include mediumWidth {
    font-size: 2.5rem;
  }
}

.welcome-crypto {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: center;
  margin: 3rem 4rem;

  a {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
  }

  img {
    width: 5rem;
  }

  @include mediumWidth {
    grid-template-columns: 1fr 1fr;
    row-gap: 1rem;
  }
}

// ! CoinList

#coin-list-page {
  width: 100%;
  display: flex;
  justify-content: center;

  @include smallWidth {
    .coin-list-volume {
      display: none;
    }
  }
}
.coin-list-wrapper {
  h1 {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;

    @include bigWidth {
    text-align: center;
  }

  }
}

.coin-list-table-banner, .coin-info {
  display: grid;
  grid-template-columns: 14fr 20fr 20fr 20fr;
  padding: 1rem 1rem;
  text-align: right;

  @include smallWidth {
 grid-template-columns: 14fr 20fr 20fr;
 text-align: center;
  }
}

.coin-list-table-banner {
  background: $gradient-colors;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;

  h3 {
    background: transparent;
  }

  h3:nth-child(1) {
    text-align: left;
  }



}

.coin-info {
  align-items: center;
  border-bottom: 1px solid #fff;
  cursor: pointer;

  h3 {
    background: transparent;
  }

  &:hover {
    background: $bg-color-light;
  }
  

  .coin-info-img {
    display: flex;
    align-items: center;
    gap: 1rem;
    background: transparent;

    img {
      width: 3rem;
      background: transparent;
    }

    @include mediumWidth {
    h3 {
      display: none;
    }
  }
  }

}

.coin-list-pages {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 1.5rem;

  button {
    margin-top: 2rem;
    padding: 0.5rem;
    border-radius: 20rem;
    font-size: 1.5rem;
    cursor: pointer;
  }
}

// ! Choose us screen
#choose-us-screen {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.choose-us-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;

  h1 {
    font-size: 3rem;
    b {
      @include gradient;
    }
  }
}


 @include smallWidth {
 .choose-us-baner {
  display: flex;
  flex-direction: column;
  text-align: center;
}
  }


.choose-us-body {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  align-items: center;
}

.choose-us-reasons {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.choose-reason {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  box-shadow: 15 10 2;
  background-color: $bg-color-main;
  border: 1px solid $bg-color-light;
  border-radius: 2rem;
}

.choose-reason-svg {
  display: flex;
  padding: 1rem;
  border-radius: 1rem;
  background: $gradient-colors;

  svg {
    background: transparent;
  }
}

.choose-us-img {
  img {
    width: 20rem;
  }
}

.choose-reason-text {
  background: transparent;
  height: 9rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  h2 {
    margin-bottom: 1rem;
    background: transparent;
    font-size: 1.4rem;
  }

  p {
    font-size: 1.2rem;
    background: transparent;
  }
}

//! Join us screen

#join-us-screen {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 2rem;
}

.join-us-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  h2 {
    font-size: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    b {
      @include gradient;
    }

    @include smallWidth {
      text-align: center;
      font-size: 3rem;

}
  }

  button {
    margin-top: 2rem;
    padding: 1rem;
    border-radius: 20rem;
  }
}

.btn-active {
  background: $gradient-colors;
}
