@use "/Users/nikitawr/Dev/onigiri_crypto/src/Styles/global" as *;


#coin-page {
    width: 100%;
  display: flex;
  justify-content: center;
}

.coin-page-home-btn {
    display: flex;
    margin-bottom: 2rem;
    margin-left: 3rem;
    font-size: 1.2rem;
    align-items: center;
    gap: .5rem;
    width: fit-content;

    @include bigWidth {
    margin-left: 0rem;
  }
}

.coin-page-info-wrapper {
    display: flex;
    flex-direction: row;
    height: fit-content;

    @include bigWidth {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
}

.coin-page-image {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    padding-right: 3rem;
    border-right: 1px solid #fff;
    align-items: center;

    @include bigWidth {
    border-right: none;
    padding-right: none;
    padding-bottom: 2rem;
    border-bottom: 1px solid #fff;
  }
    img {
        width: 14rem;
    }

    h3 {
        font-size: 1.5rem;
    }
}

.coin-page-info {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin: 0rem 3rem;
    

    @include bigWidth {
    margin-top: 2rem;
  }
}

.coin-page-price {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-bottom: 1.5rem;
}

.coin-page-des {
    font-size: 1.1rem;
}

.price-red {
    color: red;
}

.price-green {
    color: green;
}

.coin-page-buy {
  margin-top: 4rem;
  padding: 1rem 2rem;
  background: $gradient-colors;
  align-self: center;
  text-align: center;
  transition: all 2s ease-in-out;

  &:hover {
    background: $gradient-reverse;
    color: #fff;
  }
}