#coin-page {
    width: 100%;
  display: flex;
  justify-content: center;
  height: 59vh;
}

.coin-page-home-btn {
    display: flex;
    margin-bottom: 2rem;
    margin-left: 3rem;
    font-size: 1.2rem;
    align-items: center;
    gap: .5rem;
    width: fit-content;
}

.coin-page-info-wrapper {
    display: flex;
    flex-direction: row;
    height: fit-content;
}

.coin-page-image {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    padding-right: 3rem;
    border-right: 1px solid #fff;
    align-items: center;
    img {
        width: 14rem;
    }

    h3 {
        font-size: 1.5rem;
    }
}

.coin-page-info {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin: 0rem 3rem;
}

.coin-page-price {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-bottom: 1.5rem;
}

.coin-page-des {
    font-size: 1.1rem;
}

.price-red {
    color: red;
}

.price-green {
    color: green;
}