@use "/Users/nikitawr/Dev/onigiri_crypto/src/Styles/global" as *;


#coin-page {
    width: 100%;
  display: flex;
  justify-content: center;
}

.coin-page-home-btn {
    display: flex;
    margin-bottom: 2rem;
    margin-left: 3rem;
    font-size: 1.2rem;
    align-items: center;
    gap: .5rem;
    width: fit-content;

    @include bigWidth {
    margin-left: 0rem;
  }
}

.coin-page-info-wrapper {
    display: flex;
    flex-direction: row;
    height: fit-content;

    @include bigWidth {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
}

.coin-page-image {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    padding-right: 3rem;
    border-right: 1px solid #fff;
    align-items: center;

    @include bigWidth {
    border-right: none;
    padding-right: none;
    padding-bottom: 2rem;
    border-bottom: 1px solid #fff;
  }
    img {
        width: 14rem;
    }

    h3 {
        font-size: 1.5rem;
    }
}

.coin-page-info {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin: 0rem 3rem;
    

    @include bigWidth {
    margin-top: 2rem;
  }
}

.coin-page-price {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-bottom: 1.5rem;
}

.coin-page-des {
    font-size: 1.1rem;
}

.price-red {
    color: red;
}

.price-green {
    color: green;
}

.coin-page-buy {
  position: relative;
  width: 4rem;
  margin-top: 4rem;
  padding: 1rem 2rem;
  align-self: center;
  text-align: center;
  transition: all 2s ease-in-out;

  &:hover {
    color: #fff
  }
}

.coin-page-buy::before,
.coin-page-buy::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  transition: opacity 2s ease-in-out;
}

.coin-page-buy::before {
  background: linear-gradient(to right top, rgb(28, 56, 77), rgb(1, 167, 129));
}

.coin-page-buy::after {
  background: linear-gradient(to left top, rgb(1, 167, 129), rgb(28, 56, 77));
  opacity: 0;
}

.coin-page-buy:hover::after {
  opacity: 1;
}