@use "/Users/nikitawr/Dev/onigiri_crypto/src/Styles/global" as *;


.header-page {
    width: 100%;
    height: 8rem;
    display: flex;
    justify-content: center;
}

.header-footer-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.header-name {

    a{ 
        font-size: 1.5rem;
    }
}


.header-links, .header-social {
    display: flex;
    gap: 1.5rem;
    font-size: 1.1rem;
    font-weight: 600;

    @include smallWidth {
      display: none;
  }

}

