@use "/Users/nikitawr/Dev/onigiri_crypto/src/Styles/global" as *;


.header-page {
    width: 100%;
    height: 8rem;
    display: flex;
    justify-content: center;
}

.header-footer-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.header-name {

    a{ 
        font-size: 1.5rem;
    }
}


.header-links, .header-social {
    display: flex;
    gap: 1.5rem;
    font-size: 1.1rem;
    font-weight: 600;

    @include smallWidth {
      display: none;
  }
}

.header-menu-btn {
    display: none;

    @include smallWidth {
      display: flex;
  }
}

#drop-menu {
    height: 100vh;
    width: 100vw;
    background-color: $bg-color-main;
    position: fixed;
    z-index: 10;
};

.drop-menu-wrapper {
    top: 0;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    width: 100%;
    height: 100vh;
    position: fixed;
    justify-content: center;
    align-items: center;
    // transform: translateY(-100%);
    transition: 0.5s ease-in-out;
    
}

.drop-menu-btn {
  position: absolute;
  top: 2.2rem;
  right: 1.7rem;
  cursor: pointer;

  &:hover {
    path {
       color: $bg-color-green;
    }
  }

}

.menu-open {
  transform: translateY(0%);
  transition: 0.5s ease-in-out;

}


.drop-menu-nav-links {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 1.8rem;
    align-items: center;
}

.drop-menu-social {
    display: flex;
    gap: 2rem;
}
