@use "/Users/nikitawr/Dev/onigiri_crypto/src/Styles/global" as *;

#footer-page {
  background-color: transparent;
  width: 100%;
  display: flex;
  justify-content: center;


  .footer-all-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .footer-social,
  .footer-terms {
    display: flex;
    gap: 1rem;
  }

  h3 {
    margin-top: 0.5rem;
    display: flex;
    gap: 0.5rem;
    align-items: center;

    img {
      width: 1.5rem;
    }
  }
}

.apiStatus {

  .apiOnline {
    color: $bg-color-green;
  }

  .apiOffline {
     color: $bg-color-red;
  }
}